

doctype html
html
  head
    title Test | Email template!
    //- import css/scss stylesheets
    //- these file names will be replace by gulp with proper css file paths

    style
      include ../sass/global.scss
      include ../sass/components/header.scss
      include ../sass/components/footer.scss
      include ../sass/subscribe/subscribe.scss

  body
    table.table(cellpadding="0" cellspacing="0")
      tr
        td
          h1(class="header") Templates disponíveis
      tr
        td
          a(href="/subscribe.html") Subscribe email template
      tr
        td
          a(href="/notification.html") Notification email template



