doctype html
html
  head
    title Test | Email template!
    link(rel="stylesheet" href="../sass/global.scss")
    link(rel="stylesheet" href="../sass/notification/notification.scss")
    link(rel="stylesheet" href="../sass/components/footer.scss")
    link(rel="stylesheet" href="../sass/components/header.scss")
  body
    include ../components/header.pug
    table.table(cellpadding="0" cellspacing="0")
      tr
        td.red
          h3(style="color: white;") Gulp &amp; Pug is awesome #{name}

    include ../components/footer.pug